/* цвет основного фона
background: #E5E5E5
цвет футера
background: #2F303A
цвет  секции "наша команда"
background: #F5F4FA 
 цвет заголовков
 color: #212121
  цвет параграфов
  color: #757575
  цвет h1
  color: #FFFFFF 
  logo WebStudio
  color1: #000000
  color2: #2196F3
  цвет тел и почты в футере
  color: rgba(255, 255, 255, 0.6)
  #E5E5E5;
  */

/* ------------------ header-------------------- */

/* ------------------ hero-------------------- */

/* ------------------our benefits-------------------- */

/* ------------------menu portfolio------------------- */

/* ------------------about us------------------- */

/* ------------------our team-------------------- */

/* ------------------Постоянные клиенты-------------------- */

/* ------------------contacts-------------------- */

/* форма футера */

/* модальное окно-forma */
